html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1, h2, a {
  font-family: "PT Sans";
  font-weight: bold;
}

h1, h2 {
  color: #3f1622;
}

ol li {
  color: #8f2440;
}

a {
  text-decoration: none;
  color: #8f2440;
  font-weight: bold;
}

a:hover {
  color: #8f2440;
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  font-weight: normal;
  font-family: "PT Serif";
}

.bold {
  font-size: 1.5rem;
}
